<a href="https://colab.research.google.com/github/Namgyoung/Python_Class/blob/main/Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Series is a labeled/index array
s = pd.Series([1,2,6])    #this is only one column. first column is only a index, not a column
s

0    1
1    2
2    6
dtype: int64

In [ ]:
s.values

array([1, 2, 6])

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
#Get the index
list(s.index)

[0, 1, 2]

In [ ]:
s = pd.Series(['you', 1, 7])  #dtype은 한가지 값만 보여줌. float, int, object ....
s

0    you
1      1
2      7
dtype: object

In [ ]:
s.dtype

dtype('O')

In [ ]:
#Create Series with non-default index
students = pd.Series(['Kim', 'Lee', 'Hojeong'], index = ['2000-10-10', '2001-09-15', '2003-07-16'])
students

2000-10-10        Kim
2001-09-15        Lee
2003-07-16    Hojeong
dtype: object

In [ ]:
students['2000-10-10']

'Kim'

In [ ]:
dates = ['2000-10-10', '2000-09-15', '2003-07-16']
import datetime
dates = [pd.to_datetime(d) for d in dates]
print(dates)

students = pd.Series(['Kim', 'Lee', 'Hojeong'], index =dates)
students

[Timestamp('2000-10-10 00:00:00'), Timestamp('2000-09-15 00:00:00'), Timestamp('2003-07-16 00:00:00')]

2000-10-10        Kim
2000-09-15        Lee
2003-07-16    Hojeong
dtype: object

In [ ]:
students['2000']

2000-10-10    Kim
2000-09-15    Lee
dtype: object

In [ ]:
students['2000-10']

2000-10-10    Kim
dtype: object

In [ ]:
dates = ['2000-10-10', '2000-09-15', '2003-07-16', '2000-10-29', '2000-10-19', '2000-10-23']
import datetime
dates = [pd.to_datetime(d) for d in dates]
print(dates)

students = pd.Series(['Kim', 'Lee', 'Hojeong', 'Jason', 'Jin', 'Minsu'], index =dates)
students

[Timestamp('2000-10-10 00:00:00'), Timestamp('2000-09-15 00:00:00'), Timestamp('2003-07-16 00:00:00'), Timestamp('2000-10-29 00:00:00'), Timestamp('2000-10-19 00:00:00'), Timestamp('2000-10-23 00:00:00')]

2000-10-10        Kim
2000-09-15        Lee
2003-07-16    Hojeong
2000-10-29      Jason
2000-10-19        Jin
2000-10-23      Minsu
dtype: object

In [ ]:
students['2000']

2000-10-10      Kim
2000-09-15      Lee
2000-10-29    Jason
2000-10-19      Jin
2000-10-23    Minsu
dtype: object

In [ ]:
students['2000-10']  ##그러면 그냥 10월달인 사람들끼리는 못뽑나?

2000-10-10      Kim
2000-10-29    Jason
2000-10-19      Jin
2000-10-23    Minsu
dtype: object

In [ ]:
#Get the head and tail of a series
students.head()  #5개까지 보여줌

2000-10-10        Kim
2000-09-15        Lee
2003-07-16    Hojeong
2000-10-29      Jason
2000-10-19        Jin
dtype: object

In [ ]:
students.head(2)

2000-10-10    Kim
2000-09-15    Lee
dtype: object

In [ ]:
display(students.head(2))
display(students.tail(2))

2000-10-10    Kim
2000-09-15    Lee
dtype: object

2000-10-19      Jin
2000-10-23    Minsu
dtype: object

In [ ]:
display(students)

2000-10-10        Kim
2000-09-15        Lee
2003-07-16    Hojeong
2000-10-29      Jason
2000-10-19        Jin
2000-10-23      Minsu
dtype: object

In [ ]:
s=pd.Series(list(range(10)))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
s=pd.Series(list(range(5,15)))
s

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [ ]:
s.sum()

95

In [ ]:
s.min()

5

In [ ]:
s.max()

14

In [ ]:
s.idxmin()

0

In [ ]:
s.idxmax()

9

In [ ]:
display(s, s.cumsum())

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

0     5
1    11
2    18
3    26
4    35
5    45
6    56
7    68
8    81
9    95
dtype: int64

In [ ]:
s.shift(2)

0     NaN
1     NaN
2     5.0
3     6.0
4     7.0
5     8.0
6     9.0
7    10.0
8    11.0
9    12.0
dtype: float64

In [ ]:
any(s==5)

True

In [ ]:
all(s==5)

False

In [ ]:
s==5

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
(s==5) | (s==9)

0     True
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
(s==5) & (s==9)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
s[(s==5) | (s==9)]

0    5
4    9
dtype: int64

In [ ]:
s.aggregate([np.sum, np.mean, np.std, np.min, np.max, len])

sum     95.00000
mean     9.50000
std      3.02765
amin     5.00000
amax    14.00000
len     10.00000
dtype: float64

In [ ]:
s.append(pd.Series([100]))

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
0    100
dtype: int64

In [ ]:
s1 = pd.Series([4, 2])
s2 = pd.Series([7, 3])

ss=s1.append(s2)
ss

0    4
1    2
0    7
1    3
dtype: int64

In [ ]:
ss = s1.append(s2, ignore_index = True)
ss

0    4
1    2
2    7
3    3
dtype: int64

In [ ]:
ss=s1.append(s2)
display(ss)

0    4
1    2
0    7
1    3
dtype: int64

In [ ]:
ss.reset_index()

   index  0
0      0  4
1      1  2
2      0  7
3      1  3

In [ ]:
ss.reset_index(drop=True) #결과만 보여주는 것

0    4
1    2
2    7
3    3
dtype: int64

In [ ]:
ss.reset_index(drop = True, inplace = True) #결과도 보여주고 실제 메모리에 저장도 이렇게 하는것
ss

0    4
1    2
2    7
3    3
dtype: int64

In [ ]:
s=pd.Series([6,5], index=['a', 'b'])
s

a    6
b    5
dtype: int64

In [ ]:
s.reset_index(drop=True)

0    6
1    5
dtype: int64

In [ ]:
s  #저장은 안되었으니까!

a    6
b    5
dtype: int64

In [ ]:
s.reset_index(drop=True, inplace = True)
s

0    6
1    5
dtype: int64

In [ ]:
s  #저장 된것임!

0    6
1    5
dtype: int64

In [ ]:
s.apply(lambda x: x+100)

0    106
1    105
dtype: int64

In [ ]:
s.apply(lambda x: 'Hi'+str(x))

0    Hi6
1    Hi5
dtype: object

In [ ]:
s.astype(float)

0    6.0
1    5.0
dtype: float64

In [ ]:
s.dot(s)   #6*6+5*5 행렬느낌

61

In [ ]:
s.add(s)

0    12
1    10
dtype: int64

In [ ]:
s1=pd.Series([1,5,7])
s2=pd.Series([0,4,-10])
s1.add(s2)

0    1
1    9
2   -3
dtype: int64

In [ ]:
s1.is_monotonic_increasing

True

In [ ]:
s1.is_monotonic_decreasing

False

In [ ]:
s3=pd.Series([10,5,3,2,-10,-12])
s3.is_monotonic_increasing

False

In [ ]:
s4=pd.Series([3,9,5,7,2,1,18,6])
s4.sort_values()

5     1
4     2
0     3
2     5
7     6
3     7
1     9
6    18
dtype: int64

In [ ]:
s4.sort_values(ascending=False)

6    18
1     9
3     7
7     6
2     5
0     3
4     2
5     1
dtype: int64

In [ ]:
s4.sort_index()

0     3
1     9
2     5
3     7
4     2
5     1
6    18
7     6
dtype: int64

In [ ]:
s5=pd.Series([100, np.nan, 90, np.nan, 95], index=list('ABCDE'))
s5

A    100.0
B      NaN
C     90.0
D      NaN
E     95.0
dtype: float64

In [ ]:
s5.isnull()

A    False
B     True
C    False
D     True
E    False
dtype: bool

In [ ]:
s5.notnull()

A     True
B    False
C     True
D    False
E     True
dtype: bool

In [ ]:
s5[s5.notnull()]

A    100.0
C     90.0
E     95.0
dtype: float64

In [ ]:
s5[s5.isnull()]

B   NaN
D   NaN
dtype: float64

In [ ]:
s5[s5.isin([100,90])]

A    100.0
C     90.0
dtype: float64

In [ ]:
#DataFrame is a group of Pandas Series objects
df = pd.DataFrame({'x':[9,6,5], 'y':[8,8,10]})
df

   x   y
0  9   8
1  6   8
2  5  10

In [ ]:
df.shape

(3, 2)

In [ ]:
df.head(2)n    ##default 값은 5임

   x  y
0  9  8
1  6  8

In [ ]:
df.tail(1)

   x   y
2  5  10

In [ ]:
#slicing and dicing dataframes
df.y==8

0     True
1     True
2    False
Name: y, dtype: bool

In [ ]:
df[df.y==8]

   x  y
0  9  8
1  6  8

In [ ]:
df.iloc[2,0]

5

In [ ]:
df.iloc[1,1]

8

In [ ]:
df.iloc[1:3, 1]

1     8
2    10
Name: y, dtype: int64

In [ ]:
df.iloc[1:, :]

   x   y
1  6   8
2  5  10

In [ ]:
df=pd.DataFrame({'Name':['LeBron James', 'Steph Curry'], 'Team':['LAL', 'GSW']}, index=['1984-12-30', '1989-03-15'])
df

                    Name Team
1984-12-30  LeBron James  LAL
1989-03-15   Steph Curry  GSW

In [ ]:
df.iloc[0,0]

'LeBron James'

In [ ]:
df.loc['1984-12-30', 'Name']

'LeBron James'

In [ ]:
df.iloc[1,1]

'GSW'

In [ ]:
df.loc['1989-03-15', 'Team']

'GSW'

In [ ]:
df = pd.DataFrame({'Name':['Sam', 'Mary', 'Joe', 'Zoe'], 
                   'DOB':['1999-01-10', '1985-10-23', '1981-07-31', '1979-04-21'], 
                   'Department':['Engineering', 'Marketing', 'Sales', 'Engineering'], 
                   'Education':['Ph.D', 'M.Sc.', 'M.Sc.', 'B.Sc.']})
df

   Name         DOB   Department Education
0   Sam  1999-01-10  Engineering      Ph.D
1  Mary  1985-10-23    Marketing     M.Sc.
2   Joe  1981-07-31        Sales     M.Sc.
3   Zoe  1979-04-21  Engineering     B.Sc.

In [ ]:
df.describe()

       Name         DOB   Department Education
count     4           4            4         4
unique    4           4            3         3
top     Joe  1999-01-10  Engineering     M.Sc.
freq      1           1            2         2

In [ ]:
df.dtypes

Name          object
DOB           object
Department    object
Education     object
dtype: object

In [ ]:
df.DOB=df.DOB.astype('datetime64')

In [ ]:
df.dtypes

Name                  object
DOB           datetime64[ns]
Department            object
Education             object
dtype: object

In [ ]:
import datetime
today = datetime.datetime.today()

In [ ]:
df['Age'] = df.DOB.apply(lambda x:(today-x).days/365.25)
df

   Name        DOB   Department Education        Age
0   Sam 1999-01-10  Engineering      Ph.D  22.984257
1  Mary 1985-10-23    Marketing     M.Sc.  36.199863
2   Joe 1981-07-31        Sales     M.Sc.  40.429843
3   Zoe 1979-04-21  Engineering     B.Sc.  42.707734

In [ ]:
df.Age = df.Age.round(2)

In [ ]:
df

   Name        DOB   Department Education    Age
0   Sam 1999-01-10  Engineering      Ph.D  22.98
1  Mary 1985-10-23    Marketing     M.Sc.  36.20
2   Joe 1981-07-31        Sales     M.Sc.  40.43
3   Zoe 1979-04-21  Engineering     B.Sc.  42.71

In [ ]:
#Get all the students in the engineering department
df[df.Department =='Engineering']

  Name        DOB   Department Education    Age
0  Sam 1999-01-10  Engineering      Ph.D  22.98
3  Zoe 1979-04-21  Engineering     B.Sc.  42.71

In [ ]:
df.Name=='Sam'

0     True
1    False
2    False
3    False
Name: Name, dtype: bool

In [ ]:
df.Department = np.where(df.Name=='Sam', 'Engineer', df.Department)
df

   Name        DOB   Department Education    Age
0   Sam 1999-01-10     Engineer      Ph.D  22.98
1  Mary 1985-10-23    Marketing     M.Sc.  36.20
2   Joe 1981-07-31        Sales     M.Sc.  40.43
3   Zoe 1979-04-21  Engineering     B.Sc.  42.71

In [ ]:
df[df.Department.str.contains('Engin')]

  Name        DOB   Department Education    Age
0  Sam 1999-01-10     Engineer      Ph.D  22.98
3  Zoe 1979-04-21  Engineering     B.Sc.  42.71

In [ ]:
df

   Name        DOB   Department Education    Age
0   Sam 1999-01-10     Engineer      Ph.D  22.98
1  Mary 1985-10-23    Marketing     M.Sc.  36.20
2   Joe 1981-07-31        Sales     M.Sc.  40.43
3   Zoe 1979-04-21  Engineering     B.Sc.  42.71

In [ ]:
#How add new rows to the dataframe?
df.loc[4] = ['Max', pd.to_datetime('1984-12-30'), np.nan, 'Prof.', np.nan]
df.loc['aaa']=['LJ', pd.to_datetime('1989-10-29'), np.nan, 'B.Sc.', np.nan]

In [ ]:
df

  Unnamed: 0  Name         DOB   Department Education    Age
0          0   Sam  1999-01-10     Engineer      Ph.D  22.98
1          1  Mary  1985-10-23    Marketing     M.Sc.  36.20
2          2   Joe  1981-07-31        Sales     M.Sc.  40.43
3          3   Zoe  1979-04-21  Engineering     B.Sc.  42.71
4          4   Max  1984-12-30          NaN     Prof.    NaN
5        aaa    LJ  1989-10-29          NaN     B.Sc.    NaN

In [ ]:
#How to save the above data to an excel file?
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
base_path = '/content/drive/MyDrive/Colab Notebooks/Python Class/'
df.to_excel(base_path+'KAIST.xlsx', sheet_name = 'Best of the Best', index=False)    #index=False 하면 index 사라짐

In [ ]:
#Task: Ensure that the DOB is date not datetime
df.DOB = df.DOB.dt.date

In [ ]:
#Now that we have an excel file, can we read it back into a dataframe?
dd = pd.read_excel('KAIST.xlsx')
dd

  Unnamed: 0  Name        DOB   Department Education    Age
0          0   Sam 1999-01-10     Engineer      Ph.D  22.98
1          1  Mary 1985-10-23    Marketing     M.Sc.  36.20
2          2   Joe 1981-07-31        Sales     M.Sc.  40.43
3          3   Zoe 1979-04-21  Engineering     B.Sc.  42.71
4          4   Max 1984-12-30          NaN     Prof.    NaN
5        aaa    LJ 1989-10-29          NaN     B.Sc.    NaN

In [ ]:
import pyperclip
ddd = pd.read_clipboard()    ##colab에서는 clipboard 작동이 되지 않는다!
ddd

In [ ]:
#How to read dataframes from website
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_NBA_champions')

In [ ]:
type(dfs)

list

In [ ]:
len(dfs)   #사이트 안에 있는 표들의 갯수

18

In [ ]:
dfs[1]

                                       Year  ...                                Reference
0   Basketball Association of America (BAA)  ...  Basketball Association of America (BAA)
1                                      1947  ...                                     [18]
2                                      1948  ...                                     [19]
3                                      1949  ...                                     [20]
4     National Basketball Association (NBA)  ...    National Basketball Association (NBA)
..                                      ...  ...                                      ...
73                                     2017  ...                                     [97]
74                                     2018  ...                                     [98]
75                                     2019  ...                                     [99]
76                                  2020[g]  ...                                    [101]
77                                     2021  ...                                    [102]

[78 rows x 7 columns]

In [ ]:
nba = dfs[1].copy(deep=True)
nba.dtypes

Year                object
Western finalist    object
Coach               object
Result              object
Eastern finalist    object
Coach.1             object
Reference           object
dtype: object

In [ ]:
nba.Year

0     Basketball Association of America (BAA)
1                                        1947
2                                        1948
3                                        1949
4       National Basketball Association (NBA)
                       ...
73                                       2017
74                                       2018
75                                       2019
76                                    2020[g]
77                                       2021
Name: Year, Length: 78, dtype: object

In [ ]:
nba.Year.tolist()

['Basketball Association of America (BAA)',
 '1947',
 '1948',
 '1949',
 'National Basketball Association (NBA)',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964[b]',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 'Year',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977[c]',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984[d]',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999[e]',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012[f]',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020[g]',
 '2021']

In [ ]:
[year[0:4] for year in nba.Year.tolist()]

['Bask',
 '1947',
 '1948',
 '1949',
 'Nati',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 'Year',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021']

In [ ]:
[int(year[0:4]) if year[0:4].isdigit() else np.nan 
 for year in nba.Year.tolist()]

[nan,
 1947,
 1948,
 1949,
 nan,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 nan,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

In [ ]:
nba.Year = [int(year[0:4]) if year[0:4].isdigit() else np.nan 
 for year in nba.Year.tolist()]

nba.head()

     Year  ...                                Reference
0     NaN  ...  Basketball Association of America (BAA)
1  1947.0  ...                                     [18]
2  1948.0  ...                                     [19]
3  1949.0  ...                                     [20]
4     NaN  ...    National Basketball Association (NBA)

[5 rows x 7 columns]

In [ ]:
nba.dtypes

Year                float64
Western finalist     object
Coach                object
Result               object
Eastern finalist     object
Coach.1              object
Reference            object
dtype: object

In [ ]:
nba.Year[nba.Year.isnull()]

0    NaN
4    NaN
26   NaN
Name: Year, dtype: float64

In [ ]:
nba=nba[nba.Year.notnull()]

In [ ]:
nba.Year = nba.Year.astype(int)
nba.Year

1     1947
2     1948
3     1949
5     1950
6     1951
      ...
73    2017
74    2018
75    2019
76    2020
77    2021
Name: Year, Length: 75, dtype: int64

In [ ]:
nba.head()

   Year                     Western finalist  ...         Coach.1 Reference
1  1947           Chicago Stags (1) (1, 0–1)  ...  Eddie Gottlieb      [18]
2  1948       Baltimore Bullets (2) (1, 1–0)  ...  Eddie Gottlieb      [19]
3  1949      Minneapolis Lakers (2) (1, 1–0)  ...    Red Auerbach      [20]
5  1950  Minneapolis Lakers (1) [a] (2, 2–0)  ...        Al Cervi  [24][25]
6  1951        Rochester Royals (2) (1, 1–0)  ...    Joe Lapchick      [26]

[5 rows x 7 columns]

In [ ]:
#how to drop a column?
nba.drop(columns='Reference', inplace=True)
nba.head()

   Year  ...         Coach.1
1  1947  ...  Eddie Gottlieb
2  1948  ...  Eddie Gottlieb
3  1949  ...    Red Auerbach
5  1950  ...        Al Cervi
6  1951  ...    Joe Lapchick

[5 rows x 6 columns]

In [ ]:
#how to convert all headers into upper case?
nba.columns

Index(['Year', 'Western finalist', 'Coach', 'Result', 'Eastern finalist',
       'Coach.1'],
      dtype='object')

In [ ]:
list(nba.columns)

['Year', 'Western finalist', 'Coach', 'Result', 'Eastern finalist', 'Coach.1']

In [ ]:
[col.upper() for col in list(nba.columns)]

['YEAR', 'WESTERN FINALIST', 'COACH', 'RESULT', 'EASTERN FINALIST', 'COACH.1']

In [ ]:
nba.columns = [col.upper().replace(' ', '_') for col in list(nba.columns)]

In [ ]:
nba.head()

   YEAR  ...         COACH.1
1  1947  ...  Eddie Gottlieb
2  1948  ...  Eddie Gottlieb
3  1949  ...    Red Auerbach
5  1950  ...        Al Cervi
6  1951  ...    Joe Lapchick

[5 rows x 6 columns]