In [ ]:
print(5+10)

15

In [ ]:
for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
print(10**3)

1000

In [ ]:
a=['Kaist', 'Yale', 'Stanford', 'Harvard', 'MIT']
a.sort(key=len, reverse=True)

['Stanford', 'Harvard', 'Kaist', 'Yale', 'MIT']

In [ ]:
a

['Stanford', 'Harvard', 'Kaist', 'Yale', 'MIT']

In [ ]:
from collections import Counter
Counter(list('Stanford'))

Counter({'S': 1, 'a': 1, 'd': 1, 'f': 1, 'n': 1, 'o': 1, 'r': 1, 't': 1})

In [ ]:
a=['Kaist', 'Yale', 'Stanford', 'Harvard', 'MIT']
sorted(a, key=lambda x: Counter(list(x))['a'], reverse=True)

['Harvard', 'Kaist', 'Yale', 'Stanford', 'MIT']

In [ ]:
y=lambda x,y,z: (x+y+z)/3
y(5,10,15)

10.0

In [ ]:
###prompt the user to enter a number. return the minimum of the 'so far numbers'
L = []
while True:
  n=input('Enter a number: ')
  try:
    L.append(int(n))
  except Exception as err:
    pass
  if len(L)>0:
    print('Minimum = ',min(L))
  else:
    print('enter a number please')

In [ ]:
##find the first repeating character in a string
#ex) 'People' --> 'p', 'door' --> 'o', 'woman' --> None, '' --> None
n='people'
d=Counter(n)
for each in list(n):
  if d[each]>1:
    print(each)
    break

p

In [ ]:
#Dictionary
d={}
type(d)

dict

In [ ]:
a={}
a['Lee'] = `111-222-4444`
a['Sam'] = `666-000-1111`
a['Kim'] = `444-222-1132`
a

{'Kim': '444-222-113', 'Lee': '111-222-4444', 'Sam': '666-000-1111'}

In [ ]:
d

{}

In [ ]:
grades = {'Sarah': [90, 95, 100, 85, 100],
          'Garam': [100,100,100,100,100],
          'Yujin': [95,98,99,97,90,100,100,100]}
grades['Sarah']

[90, 95, 100, 85, 100]

In [ ]:
avg={}
for student in grades.keys():
  grds = grades[student]
  avg = sum(grds)/len(grds)

print(avg)

97.375

In [ ]:
# []: new element into dictionary, (): method, function

emps = {'Alex': []}

In [ ]:
fruits = ['Apple', 'Strawberry', 'Pear', 'Banana', 'Blueberry']
[fruit for fruit in fruits if not fruit.endswith('berry')]

['Apple', 'Pear', 'Banana']

In [ ]:
numbers = [9,6,8,4,5,3,1,10]
[n for n in numbers if n%2==1]

[9, 5, 3, 1]

In [ ]:
[i for i in range(101) if i%7==0]

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [ ]:
len([i for i in range(101) if i%7==0])

15

In [ ]:
even=lambda x: x%2==0
even(10)

True

In [ ]:
even = lambda x:True if x%2==0 else False
even(111)

False

In [ ]:
!pip install pandas
numbers = [10,8,5,2,7,3,4,6]
list(map(even, numbers))

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

[True, True, False, True, False, False, True, True]

In [ ]:
list(filter(even, numbers))

[10, 8, 2, 4, 6]

In [ ]:
list(filter(lambda x: x%2==0, numbers))

[10, 8, 2, 4, 6]

In [ ]:
Names = ['Alex','Sameer', 'Yujin', 'Lee', 'David']
print([name for name in Names if len(name)>=5])
print(list(filter(lambda x: len(x)>=5, Names)))

['Sameer', 'Yujin', 'David']
['Sameer', 'Yujin', 'David']

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.__version__

'1.19.5'

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
s=pd.Series([1,2,5])
s

0    1
1    2
2    5
dtype: int64

In [ ]:
s=pd.Series([5,2,4], index=['Hello', 'Hi', 'Bye'])
s

Hello    5
Hi       2
Bye      4
dtype: int64

In [ ]:
type(s.values)

numpy.ndarray

In [ ]:
emps = pd.Series(['Alex', 'Sarah'], index=['2000-01-01', '2020-10-10'])
emps

2000-01-01     Alex
2020-10-10    Sarah
dtype: object

In [ ]:
emps['2000-01-01']

'Alex'

In [ ]:
n=np.random.randint(0,100,100)
s=pd.Series(n)
s

0     43
1     81
2     92
3     14
4     89
      ..
95    95
96    56
97    43
98    37
99    73
Length: 100, dtype: int64

In [ ]:
s.sum()

5314

In [ ]:
s.min()

1

In [ ]:
s.max()

99

In [ ]:
s.mean()

53.14